body, h1, h2, h3, h4, h5, h6 {
    font-family: Tahoma,'Microsoft Yahei',Simsun!important;
    font-weight: 400;
}
body{
    line-height:20px;
}
h1{
    font-size:36px;
}
h2{
    font-size:30px;
}
h3{
    font-size:24px;
}
h4{
    font-size:18px;
}
h5{
    font-size:14px;
}
h6{
    font-size:12px;
}
a{
    color:#ff8000;
    text-decoration: none;
}
a:active,a:hover{
    color:#ffb366;
    text-decoration: none;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
li{list-style: none;}
.top-logobox{
    padding: 7.5px 0;
    background-color: #fff;
}
.top-logobox .container .row .col-sm-12 a {
    float: left;
    display: block;
    margin-top: 13.5px;

}
.top-logobox .container .row .col-sm-12 a >img {
    width: 180px;
}
.top-logobox .container .row .col-sm-12 .login-box {
    width:92px;
    float: right;
    position: relative;
    padding: 27.5px 0;
    margin-right: 40px;
}
.top-logobox .container .row .col-sm-12 .login-box>a {
    font-size: 16px;
    color: #333;
    margin-top: 0;
    display: inline-block;
    text-decoration: none;
}
.top-logobox .container .row .col-sm-12 .login-box>a:hover{
    color:#ffb366;
}
.top-logobox .container .row .col-sm-12 .login-box>span.mid {
    display: inline-block;
    margin: 0 10px;
    line-height: 14px;
}
.top-logobox .container .row .col-sm-12 .serch-box{
    float: right;
    margin-right: 40px;
    padding: 22.5px 0;
}
form{
    margin-bottom: 1em;
    display: block;
    margin-top: 0em;
    margin-right:50px;
}
.search-box #ip1{
    margin-top:25px;
    margin-right:20px;
}
.nav{
    margin-bottom: 0;
    border: none;
    background-color: #333;
}
.container-fluid{margin:0 auto;}
#exampale>ul>li>a {
    padding: 15px 30px;
    line-height: 20px ;
    font-size: 18px ;
    /*color: #fff;*/
}
.nav .container-fluid #exampale ul li a:hover
{
    color: #ff8000;
    background-color: #000;
}
.nav .container-fluid div #exampale>ul{

}
.nav .container-fluid  #exampale>ul>li>ul{
    border-left: none;

}
.banner {
    margin-bottom: 40px;
    padding-bottom: 20px;
    background: #ebebeb;
    background-size: 100%;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #fefefe;
}
.banner div.row{padding-top:30px;}
.banner div.row div.download{margin-top:30px;}
.banner div.row div.download p {
    font-size: 20px;
    color: #0a6531;
}
.banner div.row div.download p>a {
    font-size: 14px;
    text-decoration: underline;
}
.banner div.row .istall-text{
    margin-top: 50px;
}
.banner div.row .istall-text h1 {
    font-size: 18px;
}
.helper a {
    color: #0084bb;
    text-decoration: underline;
}

div.carousel .carousel-inner .item{
    margin-top: 20px;
    border: 2px solid black;
    width: 562px;
    height: 315px;
}
div.carousel .carousel-inner .active{
    height:315px;
   border: 2px solid black;
}
.products {
    padding: 10px 10px 5px;
    background-color: #fafafa;
    border: 1px solid #ddd;
}
.products .products-title{
    margin-top: 0;
    font-size: 20px;
    }
.products .product-box{
    margin: 15px 0;
}
.container .products .row .product-box img{
    float: left;
    width: 110px;
    height: 110px;
}
.container .products .row .product-box h3{
    margin-top:0;
}
.container .products .row .product-box p>a{
    margin-left: 3px;
}
.contect-us{
    padding:5px;
    border:1px solid #ddd;
    margin-bottom: 5px;
}
.contect-us img{ 
    float: left;
    width: 100px;
    height: 100px;
}
.contect-us span {
    margin-top:5px;
    display: block;
    margin-left: 120px;
}
.contect-us span img{
    width:90px;
    height:22px;
    float:right;
    margin-right:80px;
}
.box-header {
    padding-bottom: 9px;
    margin: 15px 0 15px;
    border-bottom: 1px solid #eee;
}
.box-header h2{
    display: inline-block;
    margin: 0;
    font-size: 20px;
}
.box-header a:first-child{
    margin-left:30px;
}
.box-header a:last-child{
    line-height:20px;
    float: right;

}

.mouseout{
    display: block;
    padding: 4px;
    line-height: 1.428571429;
    background-color: #fff;
    border-radius: 0;
    transition: all .2s ease-in-out;
    text-align: center;
}
.mouseout h5>a{
    color:black;
}
.mouseover{
    border:none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 6px;
    background-color: #fafafa;
    opacity: 0;
    transition: all .5s ease-in-out;
}
.mouseover:hover{opacity:1}
.mouseover span{display: block}
.mouseover a span.text-title{
    color: #ff8000;
}
.mouseover a span.text-detail{
    height: 80px;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    overflow: hidden;
}
.mouseover>span{
    display: block;
    text-align: center;
}
.li-box {
    position: relative;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
div.panel{
    margin: 20px 0;
    border: none;
    box-shadow: none;
}
.panel-heading{
    background-color: white!important;
}
.ll{
    margin-top: 40px;
    border-bottom-width: 1px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}
.panel-heading h2{
    font-size: 18px;
    font-weight: 700;
}
.panel-heading h2 small{
    float:right;
}
.panel-heading h2 span a{
    color:black;
}
.panel-body{
    border: 1px solid #ddd;
    border-top:none;
    height: 451px;
}
.panel-left{
    float: left;
    width: 48%;
}
.paneldetail li:first-child p{
    position:relative;line-height: 20px;
}
.paneldetail li:first-child p img{
    vertical-align: top;
}
.paneldetail li:first-child p small{
    display: inline-block;
    line-height: 20px;
}
.paneldetail li:first-child p a:last-child{
    position:absolute;
    right: 20%;
}
.panel-left .paneldetail li>h3>a{

    width:48%;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.panel-left .paneldetail li.item7{
    position: relative;
    margin-top: 12px;
    margin-bottom: 12px;

}
.panel-left .paneldetail li.item7 a{
    color:black;
    margin-left:20px;
}
.panel-left .paneldetail li.item7 span{
    display: block;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -1.5px;
    width: 3px;
    height: 3px;
    background-color: #999;
}
.panel-right{
    margin-left: 45%;
}
.panel-right ul li{
    margin-top: 15px;
    margin-left:10px;
    position:relative;
}
.panel-right ul li img{width: 165px;
    height: 119px;
    overflow: hidden;
}
.panel-right ul li a{
    position:absolute;
    bottom: 0;
    background: rgba(0,0,0,.5);
    color:#fff;
    text-align: center;
}
.section{
    margin: 20px 0;
    border: none;
    box-shadow: none;
}
.footer{
    padding-top: 1px;
    border-top: 1px solid #ddd;
}
.footer-box{
    padding: 30px 0;
    background-color: #f0f0f0;
}
.code{
    float: left;
    margin-right: 60px;
    padding: 0 80px;
    text-align: center;
    border-right: 1px solid #ddd;
}
.code>img {
    margin-bottom: 20px;
    width: 110px;
    height: 110px;
}
.blc{
    float: left;
    width: 130px;
}
.blc>a{
    font-size: 15px;
    color:black;
    margin:10px 0;
}
.blc>ul>li>a {
    font-size: 12px;
    color: #666;
}
#tv{padding:0;}
#tv ul li>div,#box ul li>div{
    padding: 0;
    display: block;
    height:100px;
    border: none;}
#tv ul li>a,#box ul li>a{
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #333;
    background-color: transparent;
    border: 0;
    padding:0;

}
#tv ul li>a span.ui-cion,#tv ul li>a span.ui-cion{
display: none!important;
}

#tv ul li>a span.s,#box ul li>a span.s {
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #e6e6e6;
}
#tv ul li>a span.number,#box ul li>a span.number{
    color: #fff;
    background-color: red;
}
#tv ul li>a h3,#box ul li>a h3 {
    float: left;
    margin: 0 0 10px 10px;
    width: 70%;
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#tv ul li>a span.price,#box ul li>a span.price{
    float: right;
    width: auto;
    height: auto;
    font-size: 14px;
    color: red;
    background: 0 0;
}
.accordion-content{
    margin-bottom: 10px;
    padding-left: 30px;
}
.accordion-content .content-img {
    float: left;
    width: 100px;
    height: 100px;
    line-height: 100px;
    overflow: hidden;
}
.accordion-content .content-img>img{
    width: 100%;
    max-width: 240px;
    vertical-align: middle;
}
.accordion-content .content-right p{
    margin: 0 0 10px;
}
.accordion-content .content-right a{
    float:right;
}